
/* This is the body of the website. It is setting the font, background color, background repeat,
background size, and padding bottom. */
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 222, 236);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 70px;
}

/* Styling the h2 tag. */
h2{
    margin-top: 20px;
    text-align: center;
    margin-bottom: -10px;
}

.btn-outline {
    color: rgb(250, 222, 236);
    background-color: #ffffff;
    border-color: rgb(250, 222, 236);
    font-weight: bold;
    border-radius: 0;
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: rgb(250, 222, 236);
    color: white;
    border-color: rgb(250, 222, 236);
    
  }

.carousel-inner img {
    margin: auto;  
  }

/* Styling the Nav Bar. */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
}

.nav-item{
    font-size: x-large;
}

.carousel-indicators{
    bottom: auto;
}

.carousel-caption {
    position: absolute;
    top:40px  
}

.carousel-caption h1 {
    font-family:    'Times New Roman', Times, serif,;
    font-size:      4em;
    font-weight: bold;
    color:          black !important;
    }

.fixed-bottom{
    bottom: -15px;
}

/* Adding a border to the left of the column. */
.col-border:before{
    content:"";
    position : absolute;
    bottom: 0;
    top: 0;
    border-left: 1px solid black;
}

/* Setting the padding to 0 and the position to static. */
.col-border {
    padding-left: 0;
    position  : static;
}

.row-relative {position: relative;}

.col-border-padding { padding-left:15px;}

/* Styling the h3 tag inside the col-sm-4 class. */
.col-sm-4 h3{
    text-decoration: underline;
    text-align: center;
}

.fixed-bottom p1{
    margin:10px;
}

.form-inline{
    margin-left: auto;
}


/* Styling the image overlay for the selector. */
.image_parco{
    position: relative;
    width: auto;
}

.img_parc{
    display: block;
    width: 100%; 
}

.img_overlay{
position: absolute;
top: 0;
left : 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.6);
color: aliceblue;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 1s;
}

.img_overlay--blur{
    backdrop-filter: blur(5px);
}


.img_overlay > * {
    transform: translateY(100px);
    transition : transform 1s;
} 

.img_overlay:hover{
    opacity: 1;
}

.img_overlay:hover > * {
    transform: translateY(20px);
}
.img_title{
    font-size: 2em;
    font-weight: bold;
}

.img_desc{
    font-size: 1.25em;
    margin-top: 0.25em;
}

#col {
    column-count: 2;
  }

 .image_parco a { color: white; }

